header.masthead {
  padding-bottom: 4rem;
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.3rem;
    @include body-font;
  }
}
@media only screen and (min-width: 992px) {
  header.masthead {
    padding-bottom: 4rem;
    h1 {
      font-size: 4.75em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
    }
  }
}
@media only screen and (min-width: 568px) and (max-width: 991px) {
  header.masthead {
    padding-bottom: 19rem;
    h1 {
      font-size: 4.75em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
    }
  }
}
