<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">Products</a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">About us</a>
      </li>
    </ul>
  </div>
</nav>
