<supine-header></supine-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>Top</h3>
      <p>This is the largest column of both. It should be on the top</p>
      <p>I believe that I am onto something interesting. This should reflect the actual change</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Left</h3>
      <p>This is the column left of the second row. I wander how it is going to work</p>
    </div>
    <div class="col-md-8">
      <h3>Right</h3>
      <p>This is the column right of the second row. Have you seen this. Done with this</p>
    </div>
  </div>
</div>
