@import "../node_modules/bootstrap/scss/bootstrap";

div.wzd2 .nav-link.active, div.wzd2 .panel-title, div.wzd2 .panel-body {
  background-color: #024dbc;
  color: #ffffff;
}

div.nav-tabs > div {
  background-color: #ffffff;
  color: #024dbc;
}

.device-mobile-optimized #wzd1 { margin: 0; left: 0}
.device-mobile-optimized div.wzd2 { padding-left: 0; top: 0; left: 0 }
.device-mobile-optimized div.wzd2 .nav-link { padding: .5rem .5rem }

@media (min-width: 544px) and (min-width: 768px) {
  div.wzd2 h2, div.wzd2 a.nav-link {font-size:3rem; }
  div.wzd2 .nav-link { padding: .5rem .5rem }
  div.wzd2, div.wzd2 .form-control, div.wzd2 .btn, div.wzd2 p { font-size:2rem; }
}

@media (min-width: 992px) {
  h1.wzd1 {font-size:2.5rem;}
  div.wzd2 h2, div.wzd2 a.nav-link {font-size:2rem;}
  div.wzd2 .form-check-label { font-size:1.5rem; }
  div.wzd2 select.form-control { font-size:1.5rem; }
  div.wzd2 { font-size:1.5rem }
  div.wzd2 .form-control, div.wzd2 .form-check  {font-size:1.5rem;}
  div.wzd2 button {font-size: 1.5rem}
}
