.footer {
  background-color: $secondary;
  color: $white;
}

.copyright {
  background-color: darken($secondary, 10%);
}

@media only screen and (min-width: 568px)  and (max-width: 991px) {
  .footer {
    height: 15vh;
  }
}
